body {
    width: 1264px;
    height: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #edf2c5;
}

footer {
    width: 1264px;
    height: 60px;
    background-color: #778a50;
}

header {
    width: 940px;
    height: auto;
    margin-left: 160px;
    margin-right: 160px;
}

article {
    width: 940px;
    height: auto;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 30px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
}

#btn_area #line {
    width: 1px;
    height: 25px;
    background-color: #778a50;
}

#vegetables {
    width: 271px;
    height: 42px;
    margin: 0px 0px 8px 0px;
    font-family: "Arial Black";
    font-size: 44px;
    line-height: 36px;
    color: #778a50;
}

#head {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
}

#btn_area {
    white-space: nowrap;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin-bottom: 17px;
}

.btn {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

#login {
    width: 60px;
    height: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-family: Arial Bold;
    font-weight: bold;
    font-size: 14px;
    color: #778a50;
    text-align:center;
    line-height: 25px;
    border: 1px solid #778a50;
    border-radius: 3px;
    border-color: #778a50;
}

#join {
    width: 50px;
    height: 25px;
    margin-top: 0px;
    margin-bottom: 17px;
    margin-left: 10px;
    font-family: "Arial BoldMT";
    font-weight: bold;
    font-size: 14px;
    color: #778a50;
    text-align:center;
    line-height: 25px;
    border: 1px solid #778a50;
    border-radius: 3px;
    border-color: #778a50;
}

#list {
    width: 940px;
    height: 44px;
    background-color: #778a50;
    list-style-type:none;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px auto 20px auto;
}

.list_item {
    margin: 16px 30px 16px 30px;
    font-size: 16px;
    line-height: 16px;
    color: #edf2c5;
    font-family: "Arial Black";
    
}

#left {
    width: 445px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.box {
    height: 45px;
    width: 445px;
    border: 1px solid #778a50;
    border-radius: 3px;
    border-color: #778a50;
    background-color: #778a50;
    margin-bottom: 15px;
}

.box p {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
    font-family: "Arial Black";
    color: #edf2c5;
}

#pumpking {
    height: 448px;
    width: 940px;
    margin: 0px 160px 0px 160px;
}

.box img {
    height: 140px;
    width: 140px;
}

#text {
    height: 124px;
    width: 415px;
    background-color: #f7fbda;
    padding-top: 16px;
    padding-left: 15px;
    padding-right: 15px;
}

#text p {
    font-size: 12px;
    font-family: "ArialMT Regular";
    color: #7d7d7d;
    margin: 0px 0px 0px 0px;
}

#text #line {
    height: 1px;
    width: 414px;
    background-color: #7d7d77;
    margin-top: 16px;
    margin-bottom: 16px;
}

#text .top{
    line-height: 1.33;
}

#text .button {
    line-height: 1.83;
}

footer p {
    font-family: "ArialMT Regular";
    font-size: 12px;
    color: #edf2c5;
    line-height: 12px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 25px;
}